
<h1>Recent Posts</h1>
<form role='form'>
  <div class='form-group'>
    <div class="input-group">
      <input ng-model="notificationsCtrl.notificationStatus" class='form-control'>
      <input ng-model="notificationsCtrl.notificationBody" class='form-control'>
      <span class='input-group-btn'>
        <button ng-click='notificationsCtrl.addNotification()' class='btn btn-default'>Add Post</button>
      </span>
    </div>
  </div>
</form>
<ul class='notifications list-group'>
  <li ng-repeat="notification in notificationsCtrl.notifications | orderBy:'-date'" class='list-group-item'>
    <strong>{{ notification.status }}</strong>
    <span>{{ notification.message }}</span>
  </li>
</ul>

<footer></footer>
