<videogular vg-theme="notificationsCtrl.config.theme">
	<vg-media vg-src="notificationsCtrl.config.sources"
			vg-tracks="notificationsCtrl.config.tracks">
	</vg-media>
  <vg-controls>
				<vg-play-pause-button></vg-play-pause-button>
				<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
				<vg-scrub-bar>
					<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
				</vg-scrub-bar>
				<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
				<vg-volume>
					<vg-mute-button></vg-mute-button>
					<vg-volume-bar></vg-volume-bar>
				</vg-volume>
				<vg-fullscreen-button></vg-fullscreen-button>
			</vg-controls>

			<vg-overlay-play></vg-overlay-play>
			<vg-poster vg-url='notificationsCtrl.config.plugins.poster'></vg-poster>
</videogular>


<h1>Recent Posts</h1>
<form role='form'>
  <div class='form-group'>
    <div class="input-group">
      <input ng-model="notificationsCtrl.notificationStatus" class='form-control'>
      <input ng-model="notificationsCtrl.notificationBody" class='form-control'>
      <span class='input-group-btn'>
        <button ng-click='notificationsCtrl.addNotification()' class='btn btn-default'>Add Post</button>
      </span>
    </div>
  </div>
</form>
<ul class='notifications list-group'>
  <li ng-repeat="notification in notificationsCtrl.notifications | orderBy:'-date'" class='list-group-item'>
    <strong>{{ notification.status }}</strong>
    <span>{{ notification.message }}</span>
  </li>
</ul>

<footer></footer>
