<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Live Feed</h4>
</div>
<div class="modal-body">
  <form name="notificationInfo" novalidate>

    <section class="content details">
      <live-stream token="fullScreenCtrl.token" name="'fullScreenModal'" /> 
    </section>
    <div class="form-actions text-center modal-footer">
      <button type="submit" class="btn btn-default btn-flat" ng-click="$dismiss()">Cancel</button>
    </div>
  </form>
</div>
