




	<!-- <div class="alert" ng-class="{'alert-danger': alert.type=='danger', 'alert-success': alert.type=='success'}" ng-repeat="alert in incidentDescriptionCtrl.alerts">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <span>{{alert.msg}}</span>
	</div> -->
	<!-- Content Header -->
	<!-- <section class="content-header">
	  <div class="row">
	    <div class="col-lg-12">
	      <h1><i class="fa fa-exclamation-triangle alert-triangle" ng-class="incidentDescriptionCtrl.incident.severity.warning_level"> </i>{{incidentDescriptionCtrl.incident.name}}</h1>
	    </div>
	  </div>
	</section> -->

	<!-- <section class="content-header-sub">
	  <div class="row">
	    <div class="col-sm-12 text-left">
	      <button class="btn btn-sm btn-outline first" ng-click="incidentDescriptionCtrl.editIncident()" ng-disabled="incidentDescriptionCtrl.incident.completed"><i class="fa fa-pencil"></i>Edit</button>
	       <button class="btn btn-sm" ng-class="{'btn-outline': !incidentDescriptionCtrl.incident.completed, 'btn-success': incidentDescriptionCtrl.incident.completed}" ng-click="incidentDescriptionCtrl.toggleCompleted()"><i class="fa fa-check"></i>{{ incidentDescriptionCtrl.incident.completed ? 'Mark as unresolved' : 'Mark as resolved'}}</button>
				<button class="btn btn-sm btn-warning" ng-click="incidentDescriptionCtrl.toggleCompleted()"><i class="fa fa-check"></i>{{ incidentDescriptionCtrl.incident.completed ? 'Mark as unresolved' : 'Mark as resolved'}}</button>
			</div>
	  </div>
	</section> -->

	<!-- Main content -->
	<section class="content details content-header-sub video-fill" style="min-height: 100px">
		<div class="row">
			<div class="col-sm-4" style="border-right: solid thin rgba(0,0,0,0.1);">
				<div class="row">
					<div class="item" style="padding-left: 25px">Raspberry Pi Status</div>
				</div>
				<div class="row">
					<div class="led-box">
						<div class="led-green"></div>
					</div>
					<div class="title" style="padding-top: 10px">Fully Operational</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="item" style="padding-left: 25px">Arduino Status</div>
				</div>
				<div class="row">
					<div class="led-box">
						<div class="led-yellow"></div>
					</div>
					<div class="title" style="padding-top: 10px">Degraded Service</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content details video-fill">
	  <!-- Page Content Here -->
	  <div class="row" style=>
			<div class="col-md-4" style="height: 40vh; width: 35vw">
			  <live-stream token="summaryCtrl.streamToken" name="'summary'" />	
			</div>
	    <div class="col-md-6">
	      <div class="row" style="height: 20vh; padding-top: 2vh">
	        <div class="col-md-6">
	          <div class="title">Front Door Sensor</div>
	          <div class="item">
						  <div class="led-box">
						    <div ng-class="{'led-green': summaryCtrl.getSensorByID('1').status == 'Closed', 'led-red': summaryCtrl.getSensorByID('1').status != 'Closed'}"></div>
						  </div>
							{{ summaryCtrl.getSensorByID("1").status }}
						</div>
	        </div>
	        <div class="col-md-6">
	          <div class="title">Window Sensor 1</div>
						<div class="item">
						  <div class="led-box">
								<div ng-class="{'led-green': summaryCtrl.getSensorByID('2').status == 'Closed', 'led-red': summaryCtrl.getSensorByID('2').status != 'Closed'}"></div>
						  </div>
							{{summaryCtrl.getSensorByID("2").status }}
						</div>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-md-6">
	          <div class="title">Window Sensor 2</div>
						<div class="item">
						  <div class="led-box">
								<div ng-class="{'led-green': summaryCtrl.getSensorByID('3').status == 'Closed', 'led-red': summaryCtrl.getSensorByID('3').status != 'Closed'}"></div>
						  </div>
							{{ summaryCtrl.getSensorByID("3").status }}
						</div>
	        </div>
	        <div class="col-md-6">
	          <div class="title">Window Sensor 3</div>
						<div class="item">
						  <div class="led-box">
								<div ng-class="{'led-green': summaryCtrl.getSensorByID('4').status == 'Closed', 'led-red': summaryCtrl.getSensorByID('4').status != 'Closed'}"></div>
						  </div>
							{{summaryCtrl.getSensorByID("4").status}}
						</div>
	        </div>
	      </div>
				<div class="row">
				</div>
	    </div>
	  </div>
		<div class="row updates"></div>
	</section>
